<TR><TD><FONT SIZE=-1><A HREF="mailto:#%email">#%nick</A></FONT></TD>
<TD><FONT SIZE=-1>#%lastname #%name</FONT></TD>
<TD><FONT SIZE=-1>#%lastlogin</FONT></TD>
<TD><FONT SIZE=-1>#%hostname</FONT></TD> 
<TD><FONT SIZE=-1>
<A HREF="#script_url/adm.pl?id=#now&passwd=#adm_passwd&nick=#adm_nick&tmpl=05&cmd=delUser&#%nick=on">Delete</A>
</FONT></TD></TR>
