<TR><TD><A HREF="mailto:#%email">#%nick</A></TD><TD>#%hostname</TD>
<TD>#hostban</TD>
<TD><A HREF="#script_url/adm.pl?id=#now&passwd=#adm_passwd&nick=#adm_nick&tmpl=07&cmd=banHost&#%nick=on">Ban</A>
<TD><A HREF="#script_url/adm.pl?id=#now&passwd=#adm_passwd&nick=#adm_nick&tmpl=07&cmd=ubanHost&#%hostname=on">UnBan</A>
</TD></TR>
