<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">

<HTML>
<HEAD>
<TITLE>Happy Chat</TITLE>
<META NAME="Author" CONTENT="Vittorio Nardone (nards@iol.it)">
</HEAD>

<BODY BACKGROUND="#html_url/ng2.jpg" LINK="#FFFFFF" VLINK="#FFFFFF" TEXT="#FFFFFF">

<CENTER>
<IMG SRC="#html_url/chat.gif"  BORDER=0  ALT="Happy Chat" ></TD>
<BR><BR> 
ChatMachine Control Center
<BR><BR> 
<FORM METHOD="POST" ACTION="#script_url/adm.pl?id=#now">
<TABLE CELLSPACING=0 BORDER=0>
<TR BGCOLOR=#8B0000><TH>Nickname :
<TD><INPUT TYPE="TEXT" NAME="nick" SIZE="20" MAXLENGHT="20"> 
<TR BGCOLOR=#8B0000><TH>Password :
<TD><INPUT TYPE="PASSWORD" NAME="passwd" SIZE="20" MAXLENGHT="20">
</TABLE>
<P>
<INPUT TYPE="hidden" NAME="cmd" VALUE="NoCMD">
<INPUT TYPE="hidden" NAME="tmpl" VALUE="01">
<INPUT TYPE="SUBMIT" VALUE="Entra nel Control Center">
</FORM>
</CENTER>
<BR><BR>
<FONT SIZE=-1><A HREF="http://www.chatmachine.it">Powered by ChatMachine</A></FONT>
</BODY>
</HTML>
