<CENTER><FORM METHOD="POST" ACTION="#script_url/chat.pl?id=#now" TARGET="_top">
<INPUT NAME="passwd" type="hidden" value="#%passwd">
<INPUT NAME="nick" type="hidden" value="#%nick">
<INPUT NAME="room" type="hidden" value="#room">
<INPUT NAME="tmpl" type="radio" value="00"> Normal
<INPUT NAME="tmpl" type="radio" value="01" CHECKED> Framed<BR>
<INPUT type="submit" value="Back to chat !">
</FORM></CENTER>
