<HTML>
<HEAD>
</HEAD>
<BODY bgcolor="#4B5889" text="#FFFFFF" link="#7FFFD4" alink="#7FFFD4" vlink="#7FFFD4">
<CENTER>
	<IMG SRC="#html_url/cm_logo.gif">
	<H2>ChatMachine Control Center</H2>
<BR><BR>
Warning : You can not kick-off or ban staff members.<BR>
<HR>
&copy; Vittorio Nardone - 1998 - Email : <A HREF="mailto:nards@iol.it">nards@iol.it</A> - 
Web : <A HREF="http://www.chatmachine.it" target="_top">www.chatmachine.it</A>
</CENTER>
</BODY>
</NOFRAME>
</HTML>

