<HTML>
<HEAD>
<META HTTP-EQUIV="Refresh" CONTENT="60; URL=#script_url/adm.pl?id=#now&passwd=#%passwd&nick=#%nick&tmpl=18&cmd=noCMD">
</HEAD>
<BODY bgcolor=#4B5889 text=#FFFFFF link=#7FFFD4 alink=#7FFFD4 vlink=#7FFFD4>
<TABLE WIDTH="100%" BORDER=0 CELLSPACING=0>
<TR BGCOLOR="#7F000000"><TD COLSPAN=3>ROOMS HANDLER</TD></TR>
<TR BGCOLOR="#7F000000"><TD>Room Name</TD><TD>Logged users</TD><TD>Remove Room</TD></TR>
#roomlist01
</TABLE>
<BR>
<TABLE WIDTH="100%" BORDER=0>
<TR><TD>
<FORM METHOD="GET" ACTION="#script_url/adm.pl?id=#now">
<INPUT NAME="passwd" type="hidden" value="#%passwd">
<INPUT NAME="nick" type="hidden" value="#%nick">
<INPUT NAME="cmd" type="hidden" value="newRoom">
<INPUT NAME="tmpl" type="hidden" value="18">
<INPUT NAME="roomname" type="text" size="20" maxlength="20">
<INPUT type="submit" value="Add a room">
</FORM>
</TD><TD>
<FORM METHOD="GET" ACTION="#script_url/adm.pl?id=#now">
<INPUT NAME="passwd" type="hidden" value="#%passwd">
<INPUT NAME="nick" type="hidden" value="#%nick">
<INPUT NAME="cmd" type="hidden" value="noCMD">
<INPUT NAME="tmpl" type="hidden" value="18">
<INPUT type="submit" value="Update">
</FORM>
</TD></TR>
</TABLE>
</BODY>
</HTML>
