<HTML>
<HEAD>
<TITLE>
Staff menu
</TITLE>
</HEAD>
<FRAMESET COLS="30%,70%">
	<FRAME SRC="#script_url/adm.pl?id=#now&nick=#%nick&passwd=#%passwd&cmd=noCMD&tmpl=02" NAME="menu" NORESIZE>
	<FRAME SRC="#script_url/adm.pl?id=#now&nick=#%nick&passwd=#%passwd&cmd=noCMD&tmpl=03" NAME="data" NORESIZE>
</FRAMESET>
<NOFRAME>
<BODY bgcolor=#4B5889 text=#FFFFFF link=#7FFFD4 alink=#FF0000 vlink=#E11184>
<TABLE WIDTH=80%><TR>
<TD><IMG SRC="#html_url/images/cm_logo.gif"><TD COLSPAN=2><H2>Staff menu</H2>
</TABLE>
<P>
You need a frame-capable browser to use Control Center.
</BODY>
</NOFRAME>
</HTML>

