<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN"><html><head>
<title>ChatMachine 98</title></head>

<frameset rows="*,110" frameborder="0" border="0">

<frameset cols="120,*" frameborder="0" border="0">
<frame SCROLLING="auto" name="left" SRC="#script_url/chat.pl?id=#now&nick=#%nick&passwd=#%passwd&tmpl=03&room=#room" marginheight="0" NORESIZE frameborder="0" border="0">


<frameset rows="50,*" frameborder="0" border="0">
<frame SCROLLING="auto" name="top" SRC="#script_url/chat.pl?id=#now&nick=#%nick&passwd=#%passwd&tmpl=02&room=#room" NORESIZE frameborder="0" border="0">
<frame SCROLLING="auto" name="chat" SRC="#script_url/chat.pl?id=#now&nick=#%nick&passwd=#%passwd&tmpl=05&room=#room" NORESIZE frameborder="0" border="0">
</frameset>


</frameset>

<frame SCROLLING="auto" name="bottom" SRC="#script_url/chat.pl?id=#now&nick=#%nick&passwd=#%passwd&tmpl=04&select=sendall&room=#room" marginheight="0" NORESIZE frameborder="0" border="0">

</frameset>
<BODY>
You need a frame capable browser !
</BODY>
</HTML>

