<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">

<HTML>
<HEAD>
<TITLE>ChatMachine98</TITLE>
<META NAME="Author" CONTENT="Vittorio Nardone (nards@iol.it)">
<META HTTP-EQUIV="Refresh" CONTENT="20; URL=#script_url/chat.pl?nick=#%nick&passwd=#%passwd&tmpl=05&room=#room&id=#now">
</HEAD>

<BODY bgcolor="#FFFFFF">

<FONT SIZE=+1> Messages for <B>#%nick</B>, room <B>#room</B> :</FONT><P>
#message
</BODY>
</HTML>
