<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">

<HTML>
<HEAD>
<TITLE>ChatMachine 98</TITLE>
<META NAME="Author" CONTENT="Vittorio Nardone (nards@iol.it)">
</HEAD>

<BODY BGCOLOR="#FFFFFF">

<TABLE BORDER=0>
<TR><TD>
<A HREF="http://www.chatmachine.it"><img src="#html_url/logo98.gif" alt="ChatMachine98"></A>
<TD><IMG SRC="#html_url/biglogo.gif" alt="ChatMachine"></A>
</TR>
</TABLE>
<BR>Messages for <B>#%nick</B>, room <B>#room</B> :
<P> 
#message
<P> 

<TABLE WIDTH=100% BORDER=0 CELLSPACING=0>
<TR BGCOLOR="#FF0000">
<FORM METHOD="POST" ACTION="#script_url/chat.pl?id=#now">
<INPUT NAME="passwd" type="hidden" value="#%passwd">
<INPUT NAME="nick" type="hidden" value="#%nick">
<INPUT NAME="room" type="hidden" value="#room">
<INPUT NAME="cmd" type="hidden" value="send">
<INPUT NAME="tmpl" type="hidden" value="00">
<TD>
<INPUT TYPE="submit" VALUE="Send - Update">
</TD>
<TD ROWSPAN=2>
<SELECT NAME="select" MULTIPLE SIZE=4 WIDTH="100">
<OPTION VALUE="sendall" #sendall>Public
#loglist05
</SELECT>
</TD>
</TR>
<TR BGCOLOR="#FF0000">
<TD>
<TEXTAREA NAME="message" COLS="80" ROWS="2"></TEXTAREA>
</TD>
</TR>
</FORM>
</TABLE>
<BR><BR>
<TABLE WIDTH="100%" BORDER=0 > <TR> 
<TD ALIGN=CENTER> 
<FORM METHOD="POST" ACTION="#script_url/chat.pl?id=#now"> 
<INPUT NAME="passwd" type="hidden" value="#%passwd"> 
<INPUT NAME="nick" type="hidden" value="#%nick"> 
<INPUT NAME="room" type="hidden" value="#room"> 
<INPUT NAME="cmd" type="hidden" value="chgRoom"> 
<INPUT NAME="select" type="hidden" value="sendall"> 
<INPUT NAME="tmpl" type="hidden" value="00"> 
<input type="submit" value="Change room">
<BR><SELECT NAME="newroom"> #roomlist00 </SELECT> 
</FORM> </TD>
<TD ALIGN=CENTER> <FORM METHOD="POST" ACTION="#script_url/chat.pl?id=#now"> 
<INPUT NAME="passwd" type="hidden" value="#%passwd"> 
<INPUT NAME="nick" type="hidden" value="#%nick"> 
<INPUT name="tmpl" type="hidden" value="00"> 
<INPUT name="cmd" type="hidden" value="exit"> 
<INPUT NAME="room" type="hidden" value="#room"> 
<input type="submit" value="Leave chat">
</FORM> </TD> 
</TR>
</TABLE> 
</BODY> 
</HTML>










