<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!-- Local time is #time ->
<HTML>
<HEAD>
<TITLE>ChatMachine98</TITLE>
<META NAME="Author" CONTENT="Vittorio Nardone (nards@iol.it)">
</HEAD>
<BODY BGCOLOR="#FFFFFF">

<TABLE BORDER=0>
<TR><TD>
<A HREF="http://www.chatmachine.it"><img src="#html_url/logo98.gif" alt="ChatMachine98"></A>
<TD><IMG SRC="#html_url/biglogo.gif" alt="ChatMachine"></A>
</TR>
</TABLE>

<CENTER>
<H3> Chat is closed at #time </H3>
<br>
<a href="http://www.chatmachine.it">Powered by ChatMachine</a><br>
</center>
</body>
</html>
